Repository DNXLabs/one-cli, pull requests merged in 2020-06, with the labels that each got.

#22 Application deployment
  README.md
  one/commands/app.py
  one/commands/idp.py
  one/commands/login.py
  one/commands/terraform.py
  one/commands/workspace.py
  one/docker/container.py
  one/docker/image.py
  one/one.py
  one/utils/app/__init__.py
  one/utils/app/common.py
  one/utils/app/deploy/ecs.py
  one/utils/app/registry/ecr.py
  one/utils/config.py
  one/utils/environment.py
  one/utils/environment/__init__.py
  one/utils/environment/aws.py
  one/utils/environment/common.py
  setup.py
Labels: app, config-file, container, feature

#45 Printing stdout with echo
  README.md
  one/__init__.py
  one/commands/app.py
  one/commands/idp.py
  one/commands/workspace.py
  one/docker/image.py
  one/utils/app/__init__.py
  one/utils/app/common.py
  one/utils/app/deploy/ecs.py
  one/utils/app/registry/ecr.py
  one/utils/config.py
  one/utils/environment/aws.py
  one/utils/environment/common.py
  one/utils/print_progress_bar.py
Labels: documentation, enhancement, stdout

#47 Unifying login commands group into a single one
  one/__init__.py
  one/commands/idp.py
  one/commands/login.py
  one/one.py
  one/utils/environment/aws.py
  one/utils/environment/common.py
  one/utils/environment/idp.py
Labels: enhancement

#52 Update command using docker container
  README.md
  one/commands/update.py
  one/docker/image.py
  one/one.py
Labels: docker, feature, update
