Repository DNXLabs/one-cli, pull requests merged in 2020-11, with the labels that each got.

#100 Fix Azure AD authentication error
  one/commands/auth.py
Labels: auth, bug, command

#101 Handle exceptions IDP not configured
  one/commands/auth.py
Labels: IDP, auth, bug, command, config-file, enhancement, load

#103 Fix init TF module with no releases
  one/utils/terraform_modules.py
Labels: bug, command, init, terraform

#99 Prevent creating a .one folder in the current folder
  one/commands/workspace.py
  one/utils/plugins.py
Labels: check, clean-code, command, enhancement, exceptions, plugin, workspace

#106 Inject extra environments to app deploy
  one/commands/app.py
  one/utils/app/deploy/ecs.py
  one/utils/app/deploy/static.py
  one/utils/config.py
  one/utils/environment/aws.py
Labels: command, config-file, deploy, ecs, enhancement, environment, feature
