Repository DNXLabs/one-cli, pull requests merged in 2020-08, with the labels that each got.

#76 Adds aws cli v2 to alias
  one/__init__.py
  one/commands/aws.py
  one/docker/image.py
  one/one.py
Labels: aws-cli, container, docker, images

#80 ⚡️ Add name option on workspace change cmd
  one/commands/workspace.py
Labels: command, exceptions, good first issue, option

#85 Adds rule deploy test-pypi in specific branch
  .github/workflows/publish-test-pypi.yaml
Labels: PyPI, deploy, package, test

#77 Adds AWS SSO login and credentials manipulation
  Dockerfile
  one/commands/auth.py
  one/commands/idp.py
  one/one.py
  one/prompt/auth.py
  one/prompt/idp.py
  one/utils/environment/aws.py
  one/utils/environment/common.py
  one/utils/environment/idp.py
Labels: auth, aws-cli, command, config-file, container, docker, dynamically, feature, login, sso

#82 ✨ Add workspace show command
  one/__init__.py
  one/commands/workspace.py
  one/utils/config.py
Labels: command, feature, workspace

#84 Static apps
  README.md
  one/commands/app.py
  one/commands/auth.py
  one/commands/aws.py
  one/docker/image.py
  one/one.py
  one/utils/app/common.py
  one/utils/app/deploy/static.py
  one/utils/config.py
  one/utils/environment/idp.py
Labels: app, aws-cli, command, deploy, static

#88 Removes update command
  README.md
  one/commands/update.py
  one/docker/image.py
  one/one.py
Labels: bug, command, docker, remove

#89 Change AWS inside workspace to block
  README.md
  one/commands/init.py
  one/utils/app/deploy/ecs.py
  one/utils/app/deploy/static.py
  one/utils/environment/aws.py
Labels: aws, workspace

#90 Feature/required version
  README.md
  one/one.py
  one/utils/colors.py
  one/utils/config.py
  one/utils/operators.py
Labels: check, feature, required_version
